/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

html {
  font-size: 62.5%;
}

section{
  min-height:100vh; /* 👈 ocupa tela inteira */
  display:flex;
  align-items:center;
}

#journey{
  scroll-margin-top: 5rem;
  align-items: flex-start;
  padding-top: 4rem;
}

/* BASE */

body {
  font-size: 1.6rem;
  margin-top: 15rem;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-family);
}


/* ELEMENTOS BÁSICOS */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* TIPOGRAFIA */

h1{
  font-size:6.4rem;
  font-weight:700;
  color:var(--accent);
}

.secondary-title {
  font-size:4rem;
  font-weight:700;
  color:var(--text);
  margin-bottom: 2rem;
}

.tertiary-title {
  font-size:3.2rem;
  font-weight:500;
  line-height:4.5rem;
  color:var(--text-secondary);
}

p {
  font-size:1.6rem;
  line-height:2.8rem;
  color:var(--text-secondary);
}

p:not(:last-child) {
  margin-bottom: 2rem;
}

/* BOTÕES */

.btn-primary {
  background:var(--accent);
  color:white;
  font-size:1.4rem;
  transition:all .3s ease;
}

.btn-primary:hover {
  box-shadow:0 0 15px var(--accent);
  transform:translateY(-2px);
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(139,92,246,0.6);
}

a:hover{
  color:var(--accent);
}

/* CONTAINER */

.max-width {
  width: 100%;
  max-width: 120rem;
  padding: 0 4rem;
  margin: 0 auto;
}

/* UTILIDADES */

.mb-s { margin-bottom: 1rem; }
.mb-m { margin-bottom: 2rem; }
.mb-l { margin-bottom: 4rem; }
.mb-xl { margin-bottom: 6rem; }

/* RESPONSIVO */

@media (max-width:1024px){

  html{
    font-size:60%;
  }

  h1{
    font-size:6rem;
  }

}

@media (max-width:768px){

  html{
    font-size:58%;
  }

  .max-width{
    padding:0 2rem;
  }

}

@media (max-width:425px){

  h1{
    font-size:4.2rem;
  }

}