/* HEADER */

.header{
  position: relative;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

/* FUNDO PARTICLES */

#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

/* TEXTO POR CIMA */

.header__left{
  position: relative;
  z-index: 1;
  max-width: 500px;
}

.header__left h1{
  color:#FF0B55;
  font-size:5.5rem;
}

/* LINHA */

.hero-line{
  width:100px;
  height:2px;
  background:#FF0B55;
  margin:10px 0 20px;
  box-shadow:0 0 10px #FF0B55;
}

/* TEXTO */

.hero-text{
  color:#9CA3AF;
  margin:2rem 0;
  line-height:2.6rem;
}

/* BOTÃO */

.btn-hero{
  display:inline-block;
  padding:10px 22px;
  border-radius:30px;
  border:1px solid #333;
  color:#fff;
  font-size:1.4rem;
  transition:all .3s ease;
  background:#0A0A0A;
}

.btn-hero:hover{
  border-color:#FF0B55;
  color:#FF0B55;
  transform:scale(1.08);
  box-shadow:0 0 10px #FF0B55;
}

/* RESPONSIVO */

@media(max-width:768px){
  .header{
    flex-direction:column;
    text-align:center;
  }

  .hero-line{
    margin:10px auto 20px;
  }
}