header{
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items:center;
  gap:6rem;
  margin-bottom: 8rem;
}

header.max-width{
  display:flex;
}

header{
  min-height:100vh;
  display:flex;
  align-items:center;
}

header{
  max-width:100%;
}

.header__left{
  max-width:500px;
  flex:1;
}

.header__left h1{
  color:#FF0B55;
  font-size:5.5rem;
}

.hero-line{
  width:100px;
  height:2px;
  background:#FF0B55;
  margin:10px 0 20px;

  box-shadow:0 0 10px #FF0B55;
}

.hero-text{
  color:#9CA3AF;
  margin:2rem 0;
  line-height:2.6rem;
}

.header__right{
  flex:1;
  display:flex;
  justify-content:center;
}

.header__right img{
  width:260px;
  height:260px;
  border-radius:50%;
  object-fit:cover;

  border:2px solid #FF0B55;
  box-shadow:0 0 25px rgba(255,11,85,0.4);
}

.btn-hero{
  display:inline-block;
  padding:10px 22px;
  border-radius:30px;

  border:1px solid #333;
  color:#fff;

  font-size:1.4rem;
  transition:all .3s ease;
}

.btn-hero:hover{
  border-color:#FF0B55;
  color:#FF0B55;

  transform:scale(1.08);

  box-shadow:0 0 10px #FF0B55;
}

.btn-hero{
  background:#0A0A0A;
}

@media(max-width:768px){

  header{
    flex-direction:column;
    text-align:center;
    gap:3rem;
  }

  .hero-line{
    margin:10px auto 20px;
  }

}