/* NAVBAR */

.navbar{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10;
  height:70px;

  display:flex;
  align-items:center;

  background:#000;
  border-bottom:1px solid #111;
}

/* CONTAINER */

.navbar .navbar__content{
  width:100%;
  padding:0 4rem;
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

/* LINKS */

.navbar .navbar__links li{
  display:inline-block;
}

.navbar .navbar__links li:not(:last-child){
  margin-right:3rem;
}

.navbar .navbar__links li a{
  font-size:1.4rem;
  letter-spacing:.5px;
  transition:.3s;
}

/* HOVER NEON */

.navbar .navbar__links li a:hover{
  color:#FF0B55;
}

/* SCROLL EFFECT */

.navbar.active{
  background:#000;
  box-shadow:0 0 10px #000;
}

/* MOBILE */

.navbar .navbar__mobile,
.navbar .navbar__mobile .mobile__links{
  display:none;
}

@media (max-width:768px){

  .navbar .navbar__links{
    display:none;
  }

  .navbar .navbar__mobile{
    display:flex;
    align-items:center;
  }

  .navbar .navbar__mobile img{
    width:3rem;
    cursor:pointer;
  }

  .navbar .navbar__mobile.active .mobile__links{
    display:flex;
    flex-direction:column;
    background:#000;
    width:100%;
    position:absolute;
    top:70px;
    left:0;
    padding:2rem 0;
  }

  .navbar .navbar__mobile.active .mobile__links li a{
    padding:1rem;
    text-align:center;
    display:block;
  }

}