/* SECTION PROJETOS */

.projects {
  scroll-margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER (TÍTULO + TEXTO) */

.projects-header {
  text-align: center;
  margin-bottom: 4rem;
  max-width: 600px;
}

/* GRID DOS PROJETOS */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 100%;
}

/* CARD */

.project-card {
  width: 100%;
  background: #0A0A0A;
  border: 1px solid #1a1a1a;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
}

/* HOVER */

.project-card:hover {
  border-color: #FF0B55;
  box-shadow: 0 0 25px rgba(255,11,85,0.2);
  transform: translateY(-6px);
}

/* IMAGEM */

.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* CONTEÚDO */

.project-content {
  padding: 25px;
}

/* CATEGORIA */

.project-category {
  font-size: 1.2rem;
  color: #FF0B55;
  margin-bottom: 10px;
  display: block;
}

/* TÍTULO */

.project-content h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* TEXTO */

.project-content p {
  color: #9CA3AF;
  margin-bottom: 20px;
}

/* TECHS */

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.project-tech span {
  border: 1px solid #333;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: 0.3s;
}

.project-tech span:hover {
  border-color: #FF0B55;
  color: #FF0B55;
  box-shadow: 0 0 10px #FF0B55;
}

.projects-title{ 
  font-size:3.6rem; 
  font-weight:700; 
  color:#FF0B55; }

/* RESPONSIVO */

@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}