/* SKILLS */

.skills {
  text-align: center;
}

/* título */

.skills-title {
  font-size: 3.6rem;
  color: #FF0B55;
}

/* linha */

.skills-line {
  width: 120px;
  height: 2px;
  background: #FF0B55;
  margin: 20px auto;
  box-shadow: 0 0 10px #FF0B55
}

/* grid */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* card */

.skills-card {
  background: #0A0A0A;
  border: 1px solid #222;
  padding: 25px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition: all .3s ease;
}

.skills-card:hover {
  border-color: #FF0B55;
  box-shadow: 0 0 20px rgba(255, 11, 85, 0.3);
  transform: translateY(-5px);
}

/* título card */

.skills-card h3 {
  color: #FFFFFF;
  margin-bottom: 15px;
  font-size: 1.6rem;
}

/* tags */

.skills-card span {
  display: inline-block;
  border: 1px solid #333;
  padding: 6px 12px;
  border-radius: 20px;
  margin: 5px 5px 0 0;
  font-size: 1.2rem;
  transition: .3s;
}

.skills-card span:hover {
  border-color: #FF0B55;
  color: #FF0B55;
  box-shadow: 0 0 10px #FF0B55;
  transform: scale(1.05);
}

.skills-icon img {
  width: 22px;
  height: 22px;
}

.skills-icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: #111;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;

  border: 1px solid #222;
  transition: .3s;
}

.skills-card:hover .skills-icon {
  border-color: #FF0B55;
  box-shadow: 0 0 15px #FF0B55;
}

.skills-tags {
  display: flex;
  flex-wrap: wrap;
  /* ESSENCIAL */
  gap: 8px;
}

.skills-tags span {
  border: 1px solid #333;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: .3s;
}

.skills-tags span:hover {
  border-color: #FF0B55;
  color: #FF0B55;
  box-shadow: 0 0 10px #FF0B55;
  transform: scale(1.05);
}

@media(max-width:768px) {

  .skills-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .skills-card {
    width: 100%;
    max-width: 320px;
    align-items: center;
    text-align: center;
  }

  .skills-card:nth-child(4),
  .skills-card:nth-child(5) {
    grid-column: auto;
  }

  .skills-tags {
    justify-content: center;
  }

  .skills {
    display: flex;
    flex-direction: column; /* ESSENCIAL */
    align-items: center;
    text-align: center;
  }

  .skills-title {
    font-size: 2.2rem;
  }

  .skills-line {
    margin: 15px auto;
  }
}